body {
  font-family: Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  flex-wrap: wrap;
}

.col {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1 1;
}

.col1 {
  background-color: blue;
}

.col2 {
  background-color: purple;
}

.col3 {
  background-color: grey;
}

.col4 {
  background-color: brown;
}

@media screen and (max-width: 641px) {
  .col {
    flex: 1 1 500px;
  }
  .col1 {
    background-color: pink;
  }
  .col2 {
    background-color: red;
  }

  .col3, .col4 {
    display: none;
  }
}
